@import "tailwindcss";

@theme {
    --color-primary: #003660;
    --color-accent: #FDB715;

    --bg-white: #FFFFFF;
    --bg-blue: #D6EAF8;

    --text-black: #3B3A3A;
    --text-gray: #717D7E;
    --text-white: #FFFFFF;
    --text-blue: #1F74AD;

    --color-green: #41A62A;
    --color-lightBlue: #00A8E1;
    --color-orange: #E95F13;
    --color-pink: #DA005E;

    --color-lightGray: #CCCCCC;
    --color-lightYellow:#EBC86C;


    /* Font */
    --font-fraunces: "Fraunces", serif;
    --font-varela: "Varela Round", sans-serif;
    --font-albert: "Albert Sans", sans-serif;
    --font-public:"public sans", sans-serif;

    
    /* Dektop */
    --text-hero-desktop--font-family: var(--font-fraunces);
    --text-hero-desktop: 64px;
    --text-hero-desktop-bold--font-weight:700;

    --text-h1-desktop--font-family: var(--font-varela);
    --text-h1-desktop: 48px;

    --text-h2-desktop--font-family: var(--font-varela);
    --text-h2-desktop: 40px;

    --text-h3-desktop--font-family: var(--font-varela);
    --text-h3-desktop: 24px;

    --text-body-desktop--font-family: var(--font-albert);
    --text-body-desktop: 18px;

    --text-body-bold-desktop--font-family: var(--font-albert);
    --text-body-bold-desktop: 18px;
    --text-body-bold-desktop--font-weight: 700;

    --text-button-desktop--font-family: var(--font-public);
    --text-button-desktop: 18px;

    --text-link-desktop--font-family: var(--font-albert);
    --text-link-desktop:18px;

    --text-acc-desktop--font-family: var(--font-albert);
    --text-acc-desktop: 16px;
    --text-acc-bold-desktop--font-weight: 700;


    /* Mobile */
    --text-hero--font-family: var(--font-fraunces);
    --text-hero: 32px;
    --text-hero-bold--font-weight:700;

    --text-h1--font-family: var(--font-varela);
    --text-h1: 26px;

    --text-h2--font-family: var(--font-varela);
    --text-h2: 22px;

    --text-h3--font-family: var(--font-varela);
    --text-h3: 18px;

    --text-body--font-family: var(--font-albert);
    --text-body: 16px;

    --text-body-bold--font-family: var(--font-albert);
    --text-body-bold: 12px;
    --text-body-bold--font-weight: 700;

    --text-button--font-family: var(--font-public);
    --text-button: 16px;

    --text-link--font-family: var(--font-albert);
    --text-link:16px;

    --text-acc--font-family: var(--font-albert);
    --text-acc: 12px;
    --text-acc-bold--font-weight: 700;
}